<h1>Convert <%= @from %></h1>

<ul>
  <p>Go <a href="/">back</a>.</p>
  <% @symbols.each do |symbol| %>
    <li><a href="/<%= @from %>/<%= symbol%>">Convert 1 <%= @from %> to <%= symbol %></a></li>
  <% end %>
</ul>
